<div class="container text-center">
    <div class="calcBG col-md-3 col-md-offset-4 text-center">
        <div class="row">
            <small>Numeric Calculator</small>
        </div>
        <div class="row">
            <input type="text" class="screen text-right" ng-model="userInput" placeholder="0" readonly>
            <input type="text" class="screenANS text-right" ng-model="result" ng-show="result!=null" readonly>
        </div>
        <div class="row">
            <button class="btn btn-info" ng-click="addToPreviousNumber('1')">1</button>
            <button class="btn btn-info" ng-click="addToPreviousNumber('2')">2</button>
            <button class="btn btn-info" ng-click="addToPreviousNumber('3')">3</button>
            <button class="btn btn-info" ng-click="addOperator('+')">+</button>
        </div>
        <div class="row">
            <button class="btn btn-info" ng-click="addToPreviousNumber('4')">4</button>
            <button class="btn btn-info" ng-click="addToPreviousNumber('5')">5</button>
            <button class="btn btn-info" ng-click="addToPreviousNumber('6')">6</button>
            <button class="btn btn-info" ng-click="addOperator('-')">-</button>
        </div>
        <div class="row">
            <button class="btn btn-info" ng-click="addToPreviousNumber('7')">7</button>
            <button class="btn btn-info" ng-click="addToPreviousNumber('8')">8</button>
            <button class="btn btn-info" ng-click="addToPreviousNumber('9')">9</button>
            <button class="btn btn-info" ng-click="addOperator('*')">*</button>
        </div>
        <div class="row">
            <button class="btn btn-info" ng-click="addToPreviousNumber('0')">0</button>
            <button class="btn btn-info" ng-click="addToPreviousNumber('.')">.</button>
            <button class="btn btn-info" ng-click="addOperator('/')">/</button>
        </div>
        <div class="row">
            <button class="btn btn-info" ng-click="addToPreviousNumber('x!')">x!</button>
            <button class="btn btn-info" ng-click="addToPreviousNumber('1/x')">1/x</button>
            <button id="success" class="btn btn-success" ng-click="calculate()">=</button>
        </div>
        <div class="row">
            <button id="warning" class="btn btn-warning" ng-click="clearPreviousNumber('C')">C</button>
            <button id="danger" class="btn btn-danger" ng-click="initialize()">A</button>
            <button id="danger" class="btn btn-danger" ng-click="quitCalculator()">Q</button>
        </div>
    </div>
    <div class="info col-md-3 text-left">
        C : Clear previous number
        <br/> A : Clear all input
        <br/> Q : Quit/Exit an application
    </div>
</div>
