<div>
    <div>
        <input type="text" disabled="disabled" ng-model="userInput" placeholder="0">
        <input type="text" disabled="disabled" ng-model="result" ng-show="result!=null">
        <table>
            <tr>
                <td>
                    <input type="button" value="1" ng-click="addToPreviousNumber('1')">
                </td>
                <td>
                    <input type="button" value="2" ng-click="addToPreviousNumber('2')">
                </td>
                <td>
                    <input type="button" value="3" ng-click="addToPreviousNumber('3')">
                </td>
                <td>
                    <input type="button" value="+" ng-click="addOperator('+')">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="4" ng-click="addToPreviousNumber('4')">
                </td>
                <td>
                    <input type="button" value="5" ng-click="addToPreviousNumber('5')">
                </td>
                <td>
                    <input type="button" value="6" ng-click="addToPreviousNumber('6')">
                </td>
                <td>
                    <input type="button" value="-" ng-click="addOperator('-')">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="7" ng-click="addToPreviousNumber('7')">
                </td>
                <td>
                    <input type="button" value="8" ng-click="addToPreviousNumber('8')">
                </td>
                <td>
                    <input type="button" value="9" ng-click="addToPreviousNumber('9')">
                </td>
                <td>
                    <input type="button" value="*" ng-click="addOperator('*')">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="0" ng-click="addToPreviousNumber('0')">
                </td>
                <td>
                    <input type="button" value="." ng-click="addToPreviousNumber('.')">
                </td>
                <td>
                    <input type="button" value="C" ng-click="clearPreviousNumber('C')">
                </td>
                <td>
                    <input type="button" value="/" ng-click="addOperator('/')">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="x!" ng-click="addToPreviousNumber('x!')">
                </td>
                <td colspan="2">
                    <input type="button" value="1/x" ng-click="addToPreviousNumber('1/x')">
                </td>
                <td>
                    <input type="button" value="A" ng-click="initialize()">
                </td>
            </tr>
            <tr>
                <td colspan="3" >
                    <input type="button" value="Enter(=)" ng-click="calculate()">
                </td>
                <td>
                    <input type="button" value="Q" ng-click="quitCalculator()">
                </td>
            </tr>
        </table>
    </div>
    <div>
        C : Clear previous number <br/>
        A : Clear all input <br/>
        Q : Quit/Exit an application
    </div>
</div>
